.section2-content{
  width: 600px;
  height: 400px;
  margin-top: -60px;
  h1{
    color:black;
  }

  .status{
    max-width: 100%;  
    margin: .5rem;
    padding: 1.5rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 250px;
    font-size:24px;
    .attributes{
      margin: 1.5rem;
      padding: .3rem;  
      
      .attribute-name{
        text-transform:capitalize;
      }
      .attribute-value{
        margin-top: 15px;
        color: #DC0A2D;
      }
    }
  }
}