.section2-content{
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 60px;
  }

  .status{
    width: 100%;  
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 250px;
    font-size:24px;

    .attributes{
      max-width: 453px;
      margin-bottom: 34px;
      .attribute-name{
        text-transform:capitalize;
        margin-bottom: 8px;
      }
      .attribute-value{
        margin-top: 15px;
        color: #DC0A2D;
      }
    }
  }
  
  @media (max-width: 1024px) {
    margin-top: 48px;
    .status {
      display: flex;
      flex-direction: column;
    }
  }
}