* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  h1{
    font-family: inter;
    font-weight: 600;
    font-size: 30px;
    color: #FAFAFA;
  }
  h2{
    font-family: inter;
    font-weight: 600;
    font-size: 32px;
  }
  font-family: inter;

  img{
    display: block;
    width: 100%;
  }
}
